.container{
    background: black;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 
    "computer player";
    grid-column-gap: 20px;
    font-family: 'Inconsolata', monospace;
}
.computerScore{
    grid-area: computer;
    height: 200px;
    padding: 20px;
} 
.playerScore{
    grid-area: player;
    height: 200px;
    padding: 20px;
    
}
 
#computerhead, #playerhead{
    color: green;
    font-size: 35px;
    padding-bottom: 10px;
}
 
#computer_score,#player_score{
    background: lightgreen;
    opacity: 50%;
    font-size: 90px;
    padding-top: 10px;
    text-align: center;
}